<div class="page-header page-header-small" style="background-image: url('./assets/img/Profile/header.jpg');">
  
    <div class="content-center">
        <div class="container">
            <h1>Hey</h1>
            <br>
            <h2>我想灌醉你</h2>
        </div>
    </div>
</div>


<div class="wrapper">
<div class="main">
<div class="section">
    <div class="container">
 <h3 class="title-uppercase"><i class="fa fa-heart heart"></i>&nbsp; ##热血青年##</h3>
 <br>
 <br>
        <h5>Sweetness中国的伙伴与世界各地的伙伴一样热情、真诚、体贴、博学、充满激情。他们热爱Sweetness文化，积极参与培训，将Sweetness驰名世界的优质服务带到中国。他们是Sweetness与顾客之间的桥梁，也是Sweetness品牌价值的载体和体现。正是这些伙伴以他们的热情和专业，在为顾客们提供一流的服务的同时，将Sweetness的文化和精神内涵传递给我们的顾客。</h5>
       <br>



        <h2 class="text-center creators">scarlet</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-profile card-plain">
                    <div class="card-body">
                        <div class="card-avatar">
                            <a href="#avatar">
                                <img src="./assets/img/Profile/aboutus.png" alt="...">
                            </a>
                        </div>
                        <p class="card-description text-center">
                            A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes orchestra to play it.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="blog-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
             
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-plain card-blog text-center">
                            <div class="card-image">
                                <a href="#pablo">
                                    <img class="img img-raised" src="./assets/img/Profile/aboutus2.jpg" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-plain card-blog text-center">
                            <div class="card-image">
                                <a href="#pablo">
                                    <img class="img img-raised" src="./assets/img/Profile/WeChat Image.jpg" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-info">春风十里，我想灌醉你</h6>
                                <h3 class="card-title">
                                </h3>
                                <p class="card-description">
                                    期待一场波涛暗涌的互撩
                                </p>
                                <br/>
                                <a href="#pablo" class="btn btn-primary btn-round">撩！</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>


<footer class="footer footer-big footer-black">

<div class="container">
<div class="row">
            <div class="col-md-6 col-sm-6 col-6">
                <div class="links">
                    <ul class="uppercase-links stacked-links">
                        <li>
                            <a href="#paper-kit" >
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#paper-kit">
                                Discover
                            </a>
                        </li>
   
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
                <div class="links">
                    <ul class="uppercase-links stacked-links">
                        <li>
                            <a href="#paper-kit">
                               Contact Us
                            </a>
                        </li>
                        <li>
                            <a href="#paper-kit">
                               About Us
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
 
       
        <hr >
        <div class="copyright">
            <div class="pull-left">
                © {{data | date: 'yyyy'}} Creative Tim, made with love
            </div>
            <div class="links pull-right">
                <ul>
                    <li>
                        <a href="#paper-kit">
                            Company Policy
                        </a>
                    </li>
                    |
                    <li>
                        <a href="#paper-kit">
                            Terms
                        </a>
                    </li>
                    |
                    <li>
                        <a href="#paper-kit">
                            Privacy
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</footer>
